@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.bg {
  background-image: radial-gradient(circle 800px at 0% 100%, rgba(139, 92, 246, 0.3), transparent),
    radial-gradient(circle 800px at 100% 10%, rgba(59, 130, 246, 0.3), transparent);
  background-size:
    100% 100%,
    100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
